*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body {
    background-color:rgb(241,241,241);
    
}
 header {
    background-color: black;
    width: 100%;
    height: 90px;
    top: 0;
    border-bottom: solid darkgray 3px;
    position: relative;
}
 
 .frame {
     max-width: 800px;
     background-color: black;
     height: 100%;
     margin: 0 auto;
     padding: 0 10px;
     position: relative;
}
 .logo img {
     height: 80px;
     margin: 7px;
}
 .logo {
     width: 20%;
     float: left;
     height:100%;
}
 .menu1 {
    height: 100%;
    width:80%;
    float: right;
    padding: 35px 25px 25px 5px;
    }
.menu1 ul {
    margin: 0 auto;
}
.menu1 li {
    display:block;
    float: left;
    padding: 15px;
}
.menu1 li:first-child {
    border-bottom: solid 2px blue;  
    background-color: rgb(11,11,11);
}
.menu1 li:hover, .menu1 li:active {
    border-bottom: solid 2px blue;  
    background-color: rgb(11,11,11);
}
.menu1 a {
    display: block;
    text-decoration: none;
    color: lightgray;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.menu2 {
    display:none;
    height: 100%;
    float: right;
}
.menu2 img {
    height:40px;
    margin-top:25px;
    margin-right: 20px;
}
.prva img {
    width:100%;
    }
main {
    background-color: white;
    top:0;
    position:relative;
    margin:0;
}


.titel {
    margin: ;
    border-left: solid 5px darkblue;
    margin-left:20px;
    
}
h2 {
    text-decoration: none;
    text-align: left;
    color:rgb(58, 58, 58);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
    
}
p, h4, h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.cont {
    padding:20px; 
}
.team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    margin:20px;
}
.player {
    max width: 30%;
    margin: 5px;
    background-color: rgba(222, 230, 230, 0.911 );
    border-radius: 10px;
}
.player:hover {
    background-color: rgb(128, 194, 238);
}
.row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width:800px;
    margin: auto;
    /*background-color: white;*/
}
.column {
    margin:20px;
    max-width:800px;
}
.column img {
    height:200px;
}
.ime {
    height: 10%;
    background-color:rgb(185, 185, 185);
    /*background-color: rgb(128, 194, 238);*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-justify: center;
    color: white;
    border-radius: 10px;
}
.no1 {
    
    }
.no2 {
      
}
/*
section {
    display: block;
} 
.cont {
    width: 100%;
}

    .row {
        border-top, bottom: solid darkgray 3px;
        max-width: 800px;
        margin: 0 auto;
    }
    .column-50 {
        width:47%;
        padding:25px;
    }
    .left {
        float:left;
        
    }
    .right {
        float:right;
    }
    .right img {
        width:95%;
        border: 2px gray solid;
        margin:5px;
        
    }
    h2 {
        text-decoration: none;
        text-align: center;
        color: rgb(154, 154, 255);
        font-family: Arial, Helvetica, sans-serif;
        margin: 25px;
        margin-top:35px;
        
    }
    .cont h3, h4, p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color: rgb(154, 154, 255);
    }
    .column-50 p{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(99,99,99);
    }
    .container {
        grid-gap: 5px;
        float: left;
    }
    .container img {
        max-width:100px;
        max-height: 140px;
        border: 2px rgb(175, 182, 211) solid;
        border-radius: 5px;
        background-color: rgb(222,222,222);
    }
 #contact-map {
    width: 100%;
    height: 300px;
    
}

.mapa {
    margin: 0 auto;
    border: 5px lightgray;
}

/* Footer */

#dev {
    text-decoration: none;
    color: rgb(66,66,66);
    font-size: 12px;
}
.subfooter {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.centar {
    width:400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px rgb(55,55,55);
}
.centar img {
    width:100px;
}
.centar div {
    height: 80%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    border-left: solid 1px rgb(55,55,55) ;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
}
.right h3, p {
    color: gray;
}
footer {
    height: 120px;
    width:100%;
    padding:10px;
    /*line-height: 124px;*/
    background-color: black;
    bottom:0;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
footer span{
    text-decoration: none;
    color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

footer a {
    text-decoration: none;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
  }
footer a:hover {
    color: white;
  }
#cr {
    text-decoration: none;
    margin-right: 8px;
    color:rgb(44,44,44);
  }
  .social {
    align-self: center;
  }
#dropdown {
    display: none;
    align items: center;
    width: 100%;
    background-color: rgba(15, 35, 61, 0.822);
    position: fixed;
    top:90px;
    margin-left: auto;
    margin-right: auto;
    
    z-index: 99;
}
#dropdown a {
    float: none;
    display: block;
    height: 50px;
    text-decoration: none;
    padding: 12px 20px;
    color: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px rgba(150, 150, 150, 0.589); 
    margin: auto;
}
    
/* responsive for  --  mobile devices  --  */
@media screen and (max-width: 599px) {
.menu1 {
    /*display:none;*/
    width:50%;
  }    
.menu1 ul li:nth-child(1), .menu1 ul li:nth-child(2), .menu1 ul li:nth-child(5) {
    display:none;
  }
.menu2 {
    display: block;
  }
.row {
    flex-direction: column;
}
.player {

}
}
/* responsive for -- small tab devices -- */
@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
    }
}